<div class="home">
    <h2>Welcome to my clothing store</h2>
    <p>In the store you can choose and buy a wide range of the best products available at the best and most
        affordable prices
        Shipping can be made nationwide for up to three business days from the date of order ....
        So what are you waiting for?</p>

    <img class="picMain" width="250px" height="270px"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Louis_Vuitton_logo_and_wordmark.svg/840px-Louis_Vuitton_logo_and_wordmark.svg.png">

</div>